body {
  font-family: 'Zen Kurenaido', sans-serif; }

a {
  text-decoration: none; }

/* !--nav  */
nav {
  background-color: #fedcd2;
  color: #373737; }

#logo {
  color: #373737;
  font-size: 200%;
  font-family: 'Zen Kurenaido', sans-serif; }

#logoBold {
  font-weight: bold; }

#carritoNumero {
  color: #df744a;
  font-size: 120%;
  font-weight: bold;
  font-family: 'Zen Kurenaido', sans-serif; }

#qCarritoBtn, #dropdownCart {
  color: #373737;
  font-size: 120%;
  font-weight: bold;
  font-family: 'Zen Kurenaido', sans-serif; }

.navbar-light .navbar-nav .nav-link {
  display: flex;
  align-items: center; }

.navBar {
  display: flex;
  justify-content: end; }

.imagenLogo {
  height: 30%;
  width: 35%; }

#btnCart {
  height: 20px;
  width: 20px; }

#eliminar {
  height: 20px;
  width: 20px; }

/* div tenemos el look */
.parrafo1 {
  color: #df744a;
  text-align: center;
  margin-bottom: 3%;
  height: 200px; }

h2, h4 {
  font-size: 60px; }

button {
  background-color: #bfd8d2;
  color: #df744a;
  font-weight: bold;
  border: none;
  border-radius: 5px; }
  button:hover {
    color: #bfd8d2;
    background-color: #df744a; }

.btnFiltros {
  height: 170%;
  width: 150%; }

/* productos */
h4 {
  text-align: center; }

#productosVestidos {
  display: flex;
  justify-content: space-around; }

#productosZapatos {
  display: flex;
  justify-content: space-around; }

#productosAccesorios {
  display: flex;
  justify-content: space-around; }

#carrito {
  display: flex;
  flex-direction: column;
  align-items: center; }

#sticky {
  position: sticky; }

#tuLook {
  display: flex;
  flex-direction: column; }

.titulo2 {
  color: #df744a;
  text-align: center;
  margin-bottom: 3%; }

label {
  color: #df744a;
  text-align: center; }

.btnLook {
  height: 150%;
  width: 120%; }

.formAccesorios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%; }

/*filtros*/
.filtros {
  display: flex;
  justify-content: space-around; }

/* footer */
footer {
  background-color: #fedcd2;
  font-weight: bold; }

.iconos {
  color: #dcb239; }

h1 {
  font-size: 60px;
  text-align: center; }

#carritoProductos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

#totales {
  text-align: center;
  color: #df744a;
  font-size: 20px; }

.pagoForm {
  text-align: center;
  color: #df744a;
  font-size: 40px;
  font-weight: bold;
  margin-top: 5%; }

.formPagoDiv {
  margin-left: 65px; }

#seguirComprando {
  background-color: #bfd8d2;
  color: #df744a;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center; }
  #seguirComprando:hover {
    color: #bfd8d2;
    background-color: #df744a; }

.btnComprando {
  margin-top: 15px;
  display: flex;
  justify-content: center; }
