body {
  background-color: white;
  font-family: 'Zen Kurenaido', sans-serif; }

a {
  text-decoration: none; }

/* !--nav  */
nav {
  background-color: #f6f6f6;
  color: rgba(185, 8, 8, 0.945); }

.imagenLogo {
  height: 30%;
  width: 35%; }

#btnCart {
  height: 20px;
  width: 20px; }

#eliminar {
  height: 20px;
  width: 20px; }

/* div tenemos el look */
.parrafo1 {
  font-weight: bold; }

h2, h4 {
  font-size: 60px; }

.btnSubmit {
  background-color: rgba(185, 8, 8, 0.945);
  color: #f6f6f6; }
  .btnSubmit:hover {
    color: #f8bc6e; }

/* div etiquetas */
.etiquetas {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 55px;
  color: black; }
  .etiquetas:hover {
    color: rgba(185, 8, 8, 0.945); }

.imagenEtiquetas {
  width: 75%;
  height: 90%; }

/* div destacados */
h4 {
  text-align: center; }

#productosVestidos {
  display: flex;
  justify-content: space-around; }

#productosZapatos {
  display: flex;
  justify-content: space-around; }

#productosAccesorios {
  display: flex;
  justify-content: space-around; }

.imagenDestacados {
  height: 100%; }

#carrito {
  display: flex;
  flex-direction: column;
  align-items: center; }

#sticky {
  position: sticky; }

#tuLook {
  display: flex;
  flex-direction: column; }

.formAccesorios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%; }

/*filtros*/
.filtros {
  display: flex;
  justify-content: space-around; }

/* footer */
footer {
  background-color: #f6f6f6;
  font-weight: bold; }

h1 {
  font-size: 60px;
  text-align: center; }

#carritoProductos {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

#totales {
  text-align: center; }
