body{
    background-color:white;
    font-family: 'Zen Kurenaido', sans-serif;
}
a{
    text-decoration: none;
}
/* !--nav  */
nav{
    background-color:rgb(246,246,246);
    color: rgba(185, 8, 8, 0.945);
}
.imagenLogo{
    height: 30%;
    width: 35%;
}
#btnCart{
    height:20px;
    width: 20px;
}

#eliminar{
    height:20px;
    width: 20px;
}

/* div tenemos el look */
.parrafo1{
    font-weight: bold;
}
h2{
    font-size: 60px;
}
.btnSubmit{
    background-color:rgba(185, 8, 8, 0.945) ;
    color:rgb(246,246,246);
    &:hover{
        color: rgb(248, 188, 110);
    }
}

/* div etiquetas */
.etiquetas{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 55px;
    color: black;
    &:hover{
        color: rgba(185, 8, 8, 0.945);
    }
}
.imagenEtiquetas{
    width: 75%;
    height: 90%;
}

/* div destacados */
h4{
    @extend h2;
    text-align: center;

}
#productosVestidos{
    display: flex;
    justify-content: space-around;
}
#productosZapatos{
    display: flex;
    justify-content: space-around;
}
#productosAccesorios{
    display: flex;
    justify-content: space-around;
}
.imagenDestacados{
    height: 100%;
}
#carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sticky{
    position: sticky;
}
#tuLook{
    display: flex;
    flex-direction: column;
}
.formAccesorios{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

/*filtros*/
.filtros{
    display: flex;
    justify-content: space-around;
}

/* footer */
footer{
    background-color:rgb(246,246,246);
    font-weight: bold ;
}